body{
	background-image:url(ubuntu1.jpg);
}
ul{
	margin:0px; padding:0px;
}
ul li a{
  text-decoration:none;
  color:white;
  display:block;
  
}
ul li{
	float:left;
	width:90px;
	height:40px;
	background-color:black;
	font-size:20px;
	line-height:40px;
	text-align:center;
	opacity:.7;
	border:4px solid #285189;
}
ul li a:hover{
	background-color:orange
}
ul li ul li{
	display:none;
}
ul li:hover ul li {
	display:block;
}
