body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#YouTube1
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#YouTube2
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Image2
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_YouTube1
{
   position: absolute;
   left: 64px;
   top: 132px;
   width: 660px;
   height: 371px;
   z-index: 2;
}
#wb_YouTube2
{
   position: absolute;
   left: 64px;
   top: 878px;
   width: 660px;
   height: 371px;
   z-index: 7;
}
#wb_Text1
{
   position: absolute;
   left: 419px;
   top: 2px;
   width: 478px;
   height: 65px;
   text-align: center;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 832px;
   top: 400px;
   width: 376px;
   height: 144px;
   z-index: 4;
}
#wb_Text3
{
   position: absolute;
   left: 661px;
   top: 691px;
   width: 313px;
   height: 144px;
   z-index: 11;
}
#wb_Image1
{
   position: absolute;
   left: 832px;
   top: 132px;
   width: 193px;
   height: 250px;
   z-index: 3;
}
#wb_Image2
{
   position: absolute;
   left: 832px;
   top: 878px;
   width: 192px;
   height: 250px;
   z-index: 8;
}
#PayPal1
{
   position: absolute;
   left: 187px;
   top: 590px;
   z-index: 5;
}
#PayPal2
{
   position: absolute;
   left: 523px;
   top: 591px;
   z-index: 6;
}
#PayPal3
{
   position: absolute;
   left: 182px;
   top: 617px;
   z-index: 9;
}
#PayPal4
{
   position: absolute;
   left: 379px;
   top: 603px;
   z-index: 10;
}
@media only screen and (max-width: 957px)
{
body
{
   background-color: #000000;
   background-image: url(../img/shooteriframe_bkgrnd1164.png);
}
#BuildWith1
{
   left: 1281px;
   top: 990px;
   width: 88px;
   height: 31px;
   visibility: visible;
   display: inline;
}
#wb_Text1
{
   left: 145px;
   top: 2px;
   width: 478px;
   height: 65px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
#wb_YouTube1
{
   left: 25px;
   top: 132px;
   width: 406px;
   height: 228px;
   visibility: visible;
   display: inline;
}
#wb_Image1
{
   left: 490px;
   top: 132px;
   width: 184px;
   height: 228px;
   visibility: visible;
   display: inline;
}
#wb_Text2
{
   left: 447px;
   top: 373px;
   width: 313px;
   height: 176px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
#PayPal1
{
   left: 75px;
   top: 408px;
   width: 70px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#PayPal2
{
   left: 292px;
   top: 409px;
   width: 74px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_YouTube2
{
   left: 25px;
   top: 671px;
   width: 406px;
   height: 228px;
   visibility: visible;
   display: inline;
}
#wb_Image2
{
   left: 490px;
   top: 671px;
   width: 181px;
   height: 228px;
   visibility: visible;
   display: inline;
}
#PayPal3
{
   left: 75px;
   top: 955px;
   width: 70px;
   height: 35px;
   visibility: visible;
   display: inline;
}
#PayPal4
{
   left: 292px;
   top: 956px;
   width: 74px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_Text3
{
   left: 447px;
   top: 915px;
   width: 313px;
   height: 144px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
