.top{
	
	color:green;
	background:#770099;
	font-family: Verdana, Geneva, sans-serif;
	text-align:center;
	border-radius: 13px 13px 0 0;

}

.top img{
	
	width: 90px;
	height: 100px;
	margin: 10px;	
	}
		
.navbar{
	
	background:#1486D0;
	padding:8px;
	
}

